In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
!ls "/content/drive/My Drive/"

'Colab Notebooks'     'Untitled Diagram (1).drawio'
 sample_solution.csv  'Untitled Diagram (2).drawio'
 test.csv	      'Untitled Diagram.drawio'
 train.csv	      'Untitled Diagram.drawio.png'

In [ ]:
import pandas as pd
data = pd.read_csv("/content/drive/My Drive/train.csv")

In [ ]:
data

               Id  minutes_past  ...  Kdp_5x5_90th  Expected
0               1             3  ...           NaN  0.254000
1               1            16  ...           NaN  0.254000
2               1            25  ...           NaN  0.254000
3               1            35  ...           NaN  0.254000
4               1            45  ...           NaN  0.254000
...           ...           ...  ...           ...       ...
13765196  1180945            38  ...           NaN  8.636004
13765197  1180945            42  ...           NaN  8.636004
13765198  1180945            47  ...     13.379990  8.636004
13765199  1180945            52  ...           NaN  8.636004
13765200  1180945            57  ...      6.069992  8.636004

[13765201 rows x 24 columns]

In [ ]:
train=data[data[:].notnull().all(1)]
train = train.drop(columns=['Expected'])

In [ ]:
# Среднее значение
mymean = train.mean(axis=0)
# Стандартное отклонение
mystd = train.std(axis=0)
train -= mymean
train /= mystd

In [ ]:
train

                Id  minutes_past  ...  Kdp_5x5_50th  Kdp_5x5_90th
6        -1.730214     -1.653082  ...     -0.338742     -1.061764
9        -1.730214     -0.779645  ...     -0.016213     -1.061764
10       -1.730214     -0.488500  ...     -0.338742     -0.810516
11       -1.730214     -0.197354  ...     -0.338742     -1.187390
12       -1.730214      0.093791  ...     -0.670482     -1.316604
...            ...           ...  ...           ...           ...
13765002  1.755423      0.210250  ...     -0.016213     -1.061764
13765003  1.755423      0.559624  ...      0.960572     -0.810516
13765004  1.755423      0.908999  ...      0.306303     -1.065351
13765005  1.755423      1.258373  ...      0.306303     -1.061764
13765006  1.755423      1.607748  ...      0.628833     -0.681302

[2769088 rows x 23 columns]

In [ ]:
train.describe()

                 Id  minutes_past  ...  Kdp_5x5_50th  Kdp_5x5_90th
count  2.769088e+06  2.769088e+06  ...  2.769088e+06  2.769088e+06
mean  -1.005507e-13  1.241574e-14  ...  2.705135e-13  1.680694e-11
std    1.000000e+00  1.000000e+00  ...  1.000000e+00  1.000000e+00
min   -1.730214e+00 -1.711311e+00  ... -1.565402e+01 -3.071756e+00
25%   -8.732342e-01 -8.378744e-01  ... -3.387422e-01 -6.848894e-01
50%    2.585581e-02 -2.266689e-02  ... -1.621252e-02 -2.146960e-01
75%    8.643610e-01  8.507697e-01  ...  6.288328e-01  4.529083e-01
max    1.755423e+00  1.724206e+00  ...  9.843805e+00  4.111574e+01

[8 rows x 23 columns]

In [ ]:
y = train.iloc[:, 22]

In [ ]:
y

6          -1.061764
9          -1.061764
10         -0.810516
11         -1.187390
12         -1.316604
              ...
13765002   -1.061764
13765003   -0.810516
13765004   -1.065351
13765005   -1.061764
13765006   -0.681302
Name: Kdp_5x5_90th, Length: 2769088, dtype: float64

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.33, random_state=42)

In [ ]:
!pip install -q -U keras-tuner

In [ ]:
%tensorflow_version 2.x
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.keras import utils
from google.colab import files
from kerastuner.tuners import RandomSearch, Hyperband, BayesianOptimization
import numpy as np

In [ ]:
def build_model(hp):
  model = Sequential()

  model.add(Dense(units=hp.Int('units_input', # Полносвязный слой с разным количеством нейронов
    min_value=128, # минимальное количество нейронов - 128
    max_value=1024, # максимальное количество - 1024
    step=32), input_shape=(X_train.shape[1],), activation='relu'))
  
  model.add(Dense(1))

  model.compile(optimizer="adam", loss='mse', metrics=['mae'])
  
  return model

In [ ]:
rm -Rf /content/test_directory

In [ ]:
tuner = RandomSearch(
  build_model, # функция создания модели
  objective='val_mae', # метрика, которую нужно оптимизировать   доля правильных ответов на проверочном наборе данных
  max_trials=5, # максимальное количество запусков обучения
  directory='test_directory' # каталог, куда сохраняются обученные сети
)

In [ ]:
tuner.search_space_summary()

Search space summary
Default search space size: 1
units_input (Int)
{'default': None, 'conditions': [], 'min_value': 128, 'max_value': 1024, 'step': 32, 'sampling': None}

In [ ]:
tuner.search(X_train, # Данные для обучения
             y_train, # Данные для обучения
             batch_size=250, # Размер мини-выборки
             epochs=10, # Количество эпох обучения
             validation_split=0.2, # Часть данных, которая будет использоваться для проверки
            verbose=1,)

Trial 5 Complete [00h 03m 31s]
val_mae: 0.0006803500582464039

Best val_mae So Far: 0.0003890393709298223
Total elapsed time: 00h 19m 01s
INFO:tensorflow:Oracle triggered exit

INFO:tensorflow:Oracle triggered exit

In [ ]:
tuner.results_summary()

Results summary
Results in test_directory/untitled_project
Showing 10 best trials
Objective(name='val_mae', direction='min')
Trial summary
Hyperparameters:
units_input: 224
Score: 0.0003890393709298223
Trial summary
Hyperparameters:
units_input: 928
Score: 0.0005151439690962434
Trial summary
Hyperparameters:
units_input: 576
Score: 0.0005986620089970529
Trial summary
Hyperparameters:
units_input: 864
Score: 0.0006803500582464039
Trial summary
Hyperparameters:
units_input: 960
Score: 0.0008732301648706198

In [ ]:
models = tuner.get_best_models(num_models=3)

In [ ]:
for model in models:
  model.summary()
  model.evaluate(X_test, y_test)
  print()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 224)               5376
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 225
=================================================================
Total params: 5,601
Trainable params: 5,601
Non-trainable params: 0
_________________________________________________________________
28557/28557 [==============================] - 31s 1ms/step - loss: 2.6822e-07 - mae: 3.8870e-04

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 928)               22272
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 929
=================================================================
Total params: 23,201
Trainable params: 23,201
Non-trainable params: 0
_________________________________________________________________
28557/28557 [==============================] - 29s 1ms/step - loss: 5.4499e-07 - mae: 5.1564e-04

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 576)               13824
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 577
=================================================================
Total params: 14,401
Trainable params: 14,401
Non-trainable params: 0
_________________________________________________________________
28557/28557 [==============================] - 31s 1ms/step - loss: 6.0455e-07 - mae: 5.9759e-04

In [ ]:
def build_model2(hp):
  model = Sequential()

  model.add(Dense(units=hp.Int('units_input', # Полносвязный слой с разным количеством нейронов
    min_value=512, # минимальное кол ичество нейронов - 128
    max_value=1024, # максимальное количество - 1024
    step=32), input_shape=(X_train.shape[1],), activation='relu'))
  
  model.add(Dense(units=hp.Int('units_hidden', min_value=128, max_value=600, step=32), activation='relu'))
  
  model.add(Dense(1))

  model.compile(optimizer="adam", loss='mse', metrics=['mae'])
  return model

In [ ]:
rm -Rf /content/test_directory2

In [ ]:
tuner2 = BayesianOptimization(
  build_model2, # функция создания модели
  objective ='val_mae', # метрика, которую нужно оптимизировать
  max_trials = 5, # максимальное количество запусков обучения
  directory ='test_directory2' # каталог, куда сохраняются обученные сети
)

In [ ]:
tuner2.search_space_summary()

Search space summary
Default search space size: 2
units_input (Int)
{'default': None, 'conditions': [], 'min_value': 512, 'max_value': 1024, 'step': 32, 'sampling': None}
units_hidden (Int)
{'default': None, 'conditions': [], 'min_value': 128, 'max_value': 600, 'step': 32, 'sampling': None}

In [ ]:
tuner2.search(X_train, # Данные для обучения
             y_train, # Данные для обучения
             batch_size=1000, # Размер мини-выборки
             epochs=20, # Количество эпох обучения
             validation_split=0.2, # Часть данных, которая будет использоваться для проверки
            verbose=1,)

Trial 5 Complete [00h 19m 44s]
val_mae: 0.0004893325385637581

Best val_mae So Far: 0.00045187119394540787
Total elapsed time: 01h 36m 16s
INFO:tensorflow:Oracle triggered exit

INFO:tensorflow:Oracle triggered exit

In [ ]:
tuner2.results_summary()

In [ ]:
models2 = tuner2.get_best_models(num_models=3)

In [ ]:
for model in models2:
  model.summary()
  model.evaluate(X_test, y_test)
  print()

In [ ]:
def build_model3(hp):
  model = Sequential()

  activation_choice = hp.Choice('activation', values=['relu', 'sigmoid', 'tanh', 'elu', 'selu'])

  model.add(Dense(units=hp.Int('units_input', # Полносвязный слой с разным количеством нейронов
                               min_value=512, # минимальное количество нейронов - 128
                               max_value=1024, # максимальное количество - 1024
                               step=32), input_shape=(X_train.shape[1],), activation=activation_choice))
  
  model.add(Dense(units=hp.Int('units_hidden', min_value=128, max_value=600, step=32), activation=activation_choice))
  
  model.add(Dense(1))

  model.compile(optimizer=hp.Choice('optimizer', values=['adam','rmsprop','SGD']), loss='mse', metrics=['mae'])

  return model

In [ ]:
rm -Rf /content/test_directory3

In [ ]:
tuner3 = BayesianOptimization(
  build_model3, # функция создания модели
  objective ='val_mae', # метрика, которую нужно оптимизировать
  max_trials = 5, # максимальное количество запусков обучения
  directory ='test_directory3' # каталог, куда сохраняются обученные сети
)

In [ ]:
!free -h

In [ ]:
tuner3.search_space_summary()

In [ ]:
tuner3.search(X_train, # Данные для обучения
             y_train, # Данные для обучения
             batch_size=32, # Размер мини-выборки
             epochs=10, # Количество эпох обучения
             validation_split=0.2, # Часть данных, которая будет использоваться для проверки
            verbose=1,)

In [ ]:
tuner3.results_summary()

In [ ]:
models3 = tuner3.get_best_models(num_models=3)

In [ ]:
for model in models3:
  model.summary()
  model.evaluate(X_test, y_test)
  print()

In [ ]:
def build_model4(hp):

  model = Sequential()

  activation_choice = hp.Choice("activation", values=['relu', 'selu', 'elu'])
  
  model.add(Dense(units=hp.Int("units_input", min_value=32,
                               max_value=1024,
                               step=32),
                  activation=activation_choice, 
                  input_shape=(X_train.shape[1], )))
  
  model.add(Dropout(0.3))

  for i in range(hp.Choice('hidden_layers', values=[1,2,3])):
    model.add(Dense(units=hp.Int(f'layer_{i}_units_',
                                 min_value=32//(i+1),
                                 max_value=512//(i+1), 
                                 step=64//(i+1)),
                     activation=activation_choice))
  
  model.add(Dense(1))

  model.compile(optimizer=hp.Choice('optimizer', values=['adam','rmsprop','SGD']), loss='mse', metrics=['mae'])

  model.summary()
  return model

In [ ]:
tuner4 = BayesianOptimization(
  build_model4, # функция создания модели
  objective ='val_mae', # метрика, которую нужно оптимизировать
  max_trials = 5, # максимальное количество запусков обучения
  directory ='test_directory5' # каталог, куда сохраняются обученные сети
)

In [ ]:
tuner4.search_space_summary()

In [ ]:
tuner4.search(X_train, # Данные для обучения
             y_train, # Данные для обучения
             batch_size=32, # Размер мини-выборки
             epochs=10, # Количество эпох обучения
             validation_split=0.2, # Часть данных, которая будет использоваться для проверки
            verbose=1,)

In [ ]:
tuner4.results_summary()

In [ ]:
models4 = tuner4.get_best_models(num_models=3)

In [ ]:
for model in models4:
  model.summary()
  model.evaluate(X_test, y_test)
  print()

In [ ]:
best_params = tuner4.get_best_hyperparameters()[0]
best_model = tuner4.hypermodel.build(best_params)
best_model.summary()

In [ ]:
best_model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.2)

In [ ]:
predicted_y_tuner = best_model.predict(X_test)
predicted_y_tuner = np.round(predicted_y_tuner, 0)

predicted_y_tuner = np.reshape(predicted_y_tuner, (predicted_y_tuner.shape[0]))

СС_tuner = np.corrcoef(predicted_y_tuner, y_test)
СС_tuner = СС_tuner[0][1]
print(f'Коэффициент корреляции с истинными данными: {СС_tuner}')

In [ ]:
model = Sequential()
model.add(Dense(448, activation='relu'))
model.add(Dense(1))

In [ ]:
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [ ]:
model.fit(X_train, y_train, epochs=50, batch_size=120, validation_split=0.2, verbose=1)

In [ ]:
print(model.summary())

In [ ]:
pred = model.predict(X_test)

In [ ]:
y_test = y_test.reset_index(drop=True)

In [ ]:
print("Предсказанное наблюдение  в конце часа:", pred[23][0], ", правильное  наблюдение  в конце часа:", y_test[23])

In [ ]:
vec = np.array([])
for i in np.arange(0, len(pred)):
  vec = np.append(vec, pred[i][0])
vec

In [ ]:
sorted = np.sort(pred, )
sorted

In [ ]:
for i in np.arange(0, len(y_test)):
    print("Предсказанное наблюдение  в конце часа:", pred[i][0], ", правильное наблюдение  в конце часа:", y_test[i], 'разница: ', np.abs(pred[i][0] - y_test[i]))

In [ ]:
СС_tuner = np.corrcoef(vec, y_test)
СС_tuner = СС_tuner[0][1]
print(f'Коэффициаент корреляция с истинными данными: {СС_tuner}')